<div>
    <div>
        <form>
            <div>
                <label id="lb-title" for="inp-title">Titulo</label>
                <input id="inp-title" name="inp-title" type="text" />
            </div>
            <div>
                <label id="lb-description" for="inp-description">Descrição</label>
                <input id="inp-description" name="inp-description" type="text" />
            </div>
            <div>
                <div>
                    <button id="btn-create" name="btn-create" type="button" (click)="createGame()">Create</button>
                </div>
                <div>
                    <button id="btn-return" name="btn-return" type="button" (click)="return()">Voltar</button>
                </div>
            </div>
        </form>
    </div>
</div>
